h1{
    color: rgba(37, 2, 37, 0.932);
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    border-top: 2px solid rgb(250, 74, 4);
}
body{
    background-color: rgba(7, 51, 1, 0.904);
    color: #2E1263;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    height: 500px;
    width: initial;
    border-radius: 50%;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button {
    margin: 25px auto 0;
    padding: 20px 25px;
    background-color: rgb(196, 156, 231);
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: 1px solid rgb(27, 19, 44);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}
button:hover {
    transition: 1s;
    background-color: rgb(27, 19, 44);
    color: rgb(196, 156, 231);
    text-decoration: underline;
}